<!DOCTYPE html>
<html>
<head>
    <title>Hasil Rekomendasi</title>
</head>
<body>

<h2>=== 3 Rekomendasi Handphone Paling Mirip ===</h2>

{% for item in rekomendasi %}
    <h3>Rekomendasi {{ loop.index }}</h3>
    <p><b>Nama HP:</b> {{ item.data["Nama_hp"] }}</p>
    <p><b>Brand:</b> {{ item.data["Brand"] }}</p>
    <p><b>Harga:</b> Rp {{ "{:,.0f}".format(item.data["Harga"]) }}</p>
    <p><b>RAM:</b> {{ item.data["Ram"] }} GB</p>
    <p><b>Memori Internal:</b> {{ item.data["Memori_internal"] }} GB</p>
    <p><b>Ukuran Layar:</b> {{ item.data["Ukuran_layar"] }} inci</p>
    <p><b>Resolusi Kamera:</b> {{ item.data["Resolusi_kamera"] }}</p>
    <p><b>Kapasitas Baterai:</b> {{ item.data["Kapasitas_baterai"] }} mAh</p>
    <p><b>Rating Pengguna:</b> {{ item.data["Rating_pengguna"] }}</p>
    <p><b>Tahun Rilis:</b> {{ item.data["Tahun_rilis"] }}</p>

    <p><b>Similarity (0–1):</b> {{ "%.6f"|format(item.similarity) }}</p>
    <hr>
{% endfor %}

<h3>Kesimpulan Akhir:</h3>
<p>{{ kesimpulan }}</p>

<p><a href="{{ url_for('index') }}">Kembali ke Form</a></p>

</body>
</html>
