<!DOCTYPE html>
<html>
<head>
    <title>CBR Rekomendasi HP</title>
</head>
<body>

<h2>Case Based Reasoning - Rekomendasi HP</h2>

<form action="/hasil" method="post">

    <label>Harga:</label><br>
    <input type="text" name="harga" placeholder="contoh: 6 juta"><br><br>

    <label>RAM:</label><br>
    <input type="text" name="ram" placeholder="contoh: 8gb"><br><br>

    <label>Memori Internal:</label><br>
    <input type="text" name="memori" placeholder="contoh: 128gb"><br><br>

    <label>Ukuran Layar:</label><br>
    <input type="text" name="layar" placeholder="contoh: 6.5 inc"><br><br>

    <label>Kapasitas Baterai:</label><br>
    <input type="text" name="baterai" placeholder="contoh: 4500 mAh"><br><br>

    <button type="submit">Hitung Similarity</button>
</form>

<hr>


</body>
</html>
